:root {
    --aqua-blue: #7edfec;
    --grey: #353542;
    --white: #ffffff;
    --navy-blue: #303f62;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaf0ff;
    font-family: Helvetica, Arial, sans-serif;
  }
  
/* HEADER BAR STARTS */

header {
    padding: 0px 80px 10px 0px;
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: 100%;
    z-index: 9999;
}

header h1 {
    flex-wrap:wrap;
    position: relative;
    margin: 0;
    padding: 10px 15px 10px 50px;
    content: center;
    font-size: 36px;
    color: var(--grey);
    background-color: var(--aqua-blue);
}
  
header a {
    text-decoration: underline;
    color: var(--aqua-blue);
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 20px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
}
  
header nav ul li a:hover {
    color: var(--white);
    border-radius: 15px;
    text-shadow: none;
}

/* HEADER BAR ENDS */
  
/* HERO SECTION STARTS */

.hero {
    position: relative;
    height: 250px;
    background-image: url("../images/bbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position:0 ;
}
.portrait img {
    position: absolute;
    right: 140px;
    bottom: 40%;
    height: 120px;
    width: 120px;
    border-radius: 25px;
}

.sub {
    flex-wrap: wrap;
    position: absolute;
    padding: 5px;
    background-color: var(--aqua-blue);
    bottom: 30px;
    right: 70px;
}

.sub h2 {
    color: var(--grey)
}

/* HERO SECTION ENDS */

.title {
    text-align: right;
    font-size: 36px;
    padding-left: 103px;
    padding-right: 2%;
    color: var(--navy-blue);

}

/* ABOUT ME SECTION STARTS*/

.container-1 {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
}



.about-text {
    border-left: 5px solid var(--navy-blue);
    margin-right: 8%;
    padding: 2%;
    font-size: 18px;
}

.about-text p {
    flex-wrap: wrap;
    margin-top: 10px;
}

/* ABOUT ME SECTION ENDS */

/* WORK SECTION STARTS */
.work {
    margin-top: 2%;
    display: flex;
    align-items: flex-start;
}

.work-title {
    text-align: right;
    font-size: 36px;
    padding-left: 120px;
    padding-right: 2%;
    padding-bottom: 5%;
    
    color: var(--navy-blue);

}

.pictures {
    border-left: 5px solid var(--navy-blue) ;
    padding-top:10px;
    padding-bottom: 900px;
    
    
}
.sunset {
    margin-left: 2%;
    
}

.sunset img {
    position: absolute;
    border: 5px solid var(--aqua-blue);
    height: 400px;
    width:70%;
    
}

.sunset-text {
    font-size: large;
    background-color: var(--aqua-blue);
    position: relative;
    padding: 5px;
    left: 40px;
    top: 300px;
    height:60px;
    width: 250px;
    
}

.sunset-text:hover {
    background-color: var(--white);
}



.foursquare {
    padding-right:10%;
    position: absolute;
    margin-top: 425px;
    display: grid;
    height: 40%;
    margin-left: 10%;
    grid-template-columns:auto minmax(1fr,1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    
    
}

.foursquare img {
    flex: 1 1 auto;
    display:fill;
    border: 5px solid var(--aqua-blue);
    flex-wrap: wrap;
    height: 200px;
    width: 400px;
    max-width: 100%;
    z-index: 1;
}


.two {
    grid-column: 2;
    grid-row: 1;
}

.small-text {
    font-size: medium;
    background-color: var(--aqua-blue);
    position: relative;
    bottom: 80px;
    margin-left: 5px;
    margin-right:50%;
    padding:2%;
    width: 175px;
}

.small-text:hover {
    background-color: var(--white);
    width: 97.5%;
    
}


/*WORK SECTION ENDS */

/* CONTACT ME SECTION START */

.container-3 {
    margin-top: 2%;
    margin-bottom: 75px;
    display: flex;
    align-items: flex-start;
}

.contact-title {
    position: absolute;
    text-align: right;
    font-size: 36px;
    padding-left: 20px;
    padding-right: 2%;
    color: var(--navy-blue);

}

.contact-title h3 {
    float: right;
}
.box-7 {
    position: absolute;
    border-left: 5px solid var(--navy-blue);
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-left: 255px;
    padding-bottom: 2%;
    margin-bottom: 2%;
}



.box-7 li h4{
    padding: 0px 35px;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    text-decoration: underline;
    color: var(--navy-blue);
    align-items: center;
}


/* CONTACT ME SECTION ENDS */
